<?php

/**
 * Beep core API functions configuration file.
 *
 * Contains common configuration information that will be used accross all the
 * API files/classes.
 *
 * @copyright 2013 Cellulant Ltd
 * @version 3.0.0
 * @since 2.2.0
 */
class Config
{
    /**
     * Legacy wrapper code for BBK
     */
    const BARCLAYS_CLIENT_CODE="BBK";
    /**
     * This should be updated to include more during
     * setup.
     * @var type
     */
    public static $LEGACY_MERCHANT_IDS=array(
        "1"=>"DSTV"
    );
    /**
     * Country code for use with wrappers.
     */
    const COUNTRY_CODE="{{item.countryprefix}}";

    const BASE_CORE_URL = "http://localhost:{{item.countryport}}/hub/services/paymentGateway/XML/";
    /**
     * The base URL for all API functions.
     */
    
    const BASE_XMLAPI_URL = "http://localhost:{{item.countryport}}/hub/services/paymentGateway/XML/";

    const  BASE_FETCH_INVOICES_URL = 'http://localhost:{{item.countryport}}/hub/services/producers/coreAPI/Fetch_Invoices/public/';
    const  BASE_PAYMENTS_URL = 'http://localhost:{{item.countryport}}/hub/services/producers/coreAPI/Payments/public/';
    const  BASE_PROFILING_URL = 'http://localhost:{{item.countryport}}/hub/services/producers/coreAPI/Profiling/public/';
    const  BASE_INVOICES_URL = 'http://localhost:{{item.countryport}}/hub/services/producers/coreAPI/Invoices/public/';
    const  BASE_REVERSALS_URL = 'http://localhost:{{item.countryport}}/hub/services/producers/coreAPI/Reversals/public/';
    const  BASE_FETCH_PAYMENTS_URL = 'http://localhost:{{item.countryport}}/hub/services/producers/coreAPI/Fetch_Payments/public/';
    const  BASE_SERVICES_URL = 'http://localhost:{{item.countryport}}/hub/services/producers/coreAPI/Services/public/';
    const  BASE_LIBRARY_URL = 'http://localhost:{{item.countryport}}/hub/services/producers/coreAPI/Library/public/';

    const  DEFAULT_COUNTRY = '{{item.countrycode|upper}}';
    /**
     * Database host name or IP address.
     *
     * @var string
     */
    const HOST = "localhost";
    /**
     * Database user name.
     *
     * @var string
     */
    const USER = "cellulant";
    /**
     * Database password.
     *
     * @var string
     */
    const PASSWORD = "c3llul@nt";

    /**
     * Database name.
     *
     * @var string
     */
    //const DATABASE = "hubtest";

    const DATABASE = "hub_{{item.countrycode}}";


    /**
     * Database port in use.
     *
     * @var string
     */
    const PORT = "3306";
    /**
     * File location for info logs.
     *
     * @var string
     */
    const INFO = "/var/log/applications/{{item.countrycode}}/hub/core/{{item.countrycode}}_core_info.log";
    /**
     * File location for error logs.
     *
     * @var string
     */
    const ERROR = "/var/log/applications/{{item.countrycode}}/hub/core/{{item.countrycode}}_core_error.log";
    /**
     * File location for fatal logs.
     *
     * @var string
     */
    const FATAL = "/var/log/applications/{{item.countrycode}}/hub/core/{{item.countrycode}}_core_fatal.log";
    /**
     * File location for debug logs.
     *
     * @var string
     */
    const DEBUG = "/var/log/applications/{{item.countrycode}}/hub/core/{{item.countrycode}}_core_debug.log";

    /**
     * The location where uploaded files are stored
     * confirm twith he location of client tools UI upload path before updating
     *
     * @var string
     */
     const VOUCHER_UPLOAD_PATH = "/srv/applications/hub4/trunk/admin/web/clientTools/hubServicesUploads/vouchers/";


}